.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-container {
  background-color: #cecece;
  width: 30%;
  flex-shrink: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-links{
  font-size: x-large;
  font-weight: bold;

  width: 70%;
  padding: 10px;
}

.nav-links:hover{
  border-bottom: #f13a22 solid  3px;
}

.links{
  color: #222222;
}

.links:hover{
  text-decoration: none;
  color: #000000;
}

.icon {
  width: 80%;
}

.main-container {
  background-color: #ffffff;
  width: 100%;
  flex-shrink: 1.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
